
  
:root {
    --First-Color: silver;
  --Second-Color: Red;
  --Third-Color: grey;
  --Fourth-Color: chartreuse;
  --Fourth-Color-Lighter:(rgb(171, 252, 89));
  --Fifth-Color: white;
  --Sixth-Color: rgb(66, 66, 66);
  --Seventh-Color: #e0b354;
  --primary-font: 'Titillium Web', sans-serif;
}

*{
    font-family: 'Titillium Web', sans-serif;
    margin: 0px;
    padding: 0px;
}

.spacer{
  display: flex;
  flex-direction: row;
  width: 300px;
  
}

body{
  background-color: black;
    font-family: var(--primary-font);
    color: var(--First-Color);
    background-image: url('shutterstock_425076346.jpg');
    background-size: cover;
    filter: brightness(105%);
    letter-spacing: 1.8;
    line-height: 1.6;
    text-shadow: 1px 1px 2px rgb(0, 0, 0),
    2px 2px 3px rgb(0, 0, 0);
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

nav{
    font-family:var(--primary-font);
    cursor: pointer;
    background-color: var(--Sixth-Color);
    position: relative;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    margin-bottom: 50px;
    padding-top: 7px;
    border-bottom: 12px solid rgba(0, 0, 0, 0.1);
    box-shadow: 
    2px 2px 2px rgba(0, 0, 0, 0.99),
    1px 1px 2px rgba(48, 46, 46, 0.5),
    2px 2px 3px rgba(48, 46, 46, 0.5),
    3px 3px 6px rgba(48, 46, 46, 0.5),
    -1px -1px 2px rgba(48, 46, 46, 0.5),
    -2px -2px 3px rgba(48, 46, 46, 0.5),
    -3px -3px 6px rgba(48, 46, 46, 0.5),
    inset 1px 1px 2px rgba(0, 0, 0, 0.8),
    inset 2px 2px 3px rgba(0, 0, 0, 0.8),
    inset 3px 3px 6px rgba(0, 0, 0, 0.8),
    inset 4px 4px 8px rgba(0, 0, 0, 0.8),
    inset 5px 5px 12px rgba(7, 7, 7, 0.8);     
    transition: .5s ease-in-out;
}

nav:hover{
  font-family:var(--primary-font);
  cursor: pointer;
  background-color: var(--Sixth-Color);
  position: relative;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  margin-bottom: 50px;
  padding-top: 7px;
  border-bottom: 12px solid rgba(0, 0, 0, 0.1);
  box-shadow: 
  2px 2px 2px rgba(0, 0, 0, 0.99),
  1px 1px 2px rgba(48, 46, 46, 0.5),
  2px 2px 3px rgba(48, 46, 46, 0.5),
  3px 3px 6px rgba(48, 46, 46, 0.5),
  -1px -1px 2px rgba(48, 46, 46, 0.5),
  -2px -2px 3px rgba(48, 46, 46, 0.5),
  -3px -3px 6px rgba(48, 46, 46, 0.5);
   
  transition: .5s ease-in-out;
}

.navigation-list{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  
}

.logo{
    position: absolute;
    margin-left: 20px;
    margin-top: 0px;;
    padding-top: 0px;
    padding-right: 7px;
    width: 47px;
    height: 47px;
}

.name{
  
    position: relative;
    margin-left: 100px;
    text-shadow: 1px 1px 2px rgb(0, 0, 0),
    2px 2px 3px rgb(0, 0, 0);
    font-size: 18pt;
    padding-right: 20%
}

.ul-links{
    position: relative;
    color: var(--Third-Color);
    list-style: none;
    display: flex;
    flex-direction: row;
    width: fit-content;
}
a {
    font-family: var(--primary-font);
    text-decoration: none;
    color:var(--Fourth-Color);
  }
a:visited {
    color:  var(--Fourth-Color);
}
a:hover {
    color:var(--Fourth-Color);
    text-decoration: none;
}
a:active {
    /* selected link */
    color:var(--Fourth-Color-Lighter);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.title{
  position: absolute;
  top: 70px;
}
.container{

    position: absolute;
    background-image: url('iStock-1129637376.jpg') ;
    background-size: cover;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
   
    border: 1px solid rgb(15, 15, 15);
    display: flex;
    flex-direction: column;
    width: 80vw;
    height:fit-content;
    margin-left: 175px;
    margin-top: 20px;
    border-radius: 15px;
    border: 3px solid rgba(107, 1, 1, 0.388);
    box-shadow:  1px 1px 2px rgba(0, 0, 0, 0.3),
                 3px 3px 4px rgba(0, 0, 0, 0.3),
                 4px 4px 6px rgba(0, 0, 0, 0.3),
                -6px -6px 6px rgba(7, 7, 7, 0.3),
                 6px 6px 6px rgba(0, 0, 0, 0.3),
       inset   -12px -12px 12px rgba(3, 3, 3, 0.5),
        inset   12px 12px 12px rgba(14, 13, 13, 0.5);
        transition: .5s ease-in-out;
}



.inner-container{
    filter: drop-shadow(4px 10px 4px #00000080);
    position: relative;
    margin-left: 100px;
    margin-bottom: 45px;
    display: flex;
    flex-direction: row;
    
}

.profile-img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8),
    2px 2px 3px rgba(0, 0, 0, 0.8),
    3px 3px 6px rgba(0, 0, 0, 0.8);
}


.profile-desc{
    text-align: center;
    font-family:var(--primary-font);
    margin-left: 5px;
    margin-bottom: 0px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    
}
.contact-form{
    font-family: var(--primary-font);
    display: flex;
    flex-direction: column;
    border: 4px groove rgba(167, 159, 159, 0.5);
    margin-right: 20px;
    padding: 15px;
    width: 375px;
    
}
input{
    font-family: var(--primary-font);
    color:var(--Fourth-Color);   
    margin: 7px;
    padding-left: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.5);
    width: 40%;
    height: 25px;
}

textarea{
    font-family: var(--primary-font);
    color: var(--Fourth-Color);   
    padding: 10px;
    margin-left: 15px;
    margin-top: 10px;
    width: 80%;
    height: 100px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
}

footer{
    font-size: 14pt;
    margin-left: 45%;
}
footer img{
    justify-content: space-between;
    width: 35px;
    height: 35px;
}
h1 {
    font-size: 18pt;
    font-weight: 100;
  }
  
h2 {
    font-size: 16pt;
    font-weight: 100;
  }
  
h3 {
    font-size: 18px;
    font-weight: 100;
  }


code{
    font-weight: normal;
    color: goldenrod;
    background-color: rgb(29, 28, 28);    
}

li{
    height: 30px;
    padding-top: 7px;
    padding-left: 15px;
    padding-right: 15px;
   
    margin: 7px;

    transition: .5s ease-in-out;
}

li:hover{
    border-radius: 7px;
    border: 1px outset  rgba(131, 2, 2, 0.637);
box-shadow: 1px 1px 2px rgba(10, 10, 10, 0.8),
2px 2px 3px rgba(0, 0, 0, 0.8),
3px 3px 6px rgba(0, 0, 0, 0.8);
}
li:active{
  border-radius: 7px;
  border: 1px outset  rgba(10, 10, 10, 0.637);
box-shadow: 1px 1px 2px rgba(10, 10, 10, 0.8),
2px 2px 3px rgba(0, 0, 0, 0.8),
3px 3px 6px rgba(0, 0, 0, 0.8);
}



table{
    border: 1px outset rgba(0, 0, 0, 0.5)
}

th{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
}
tr{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    text-align: center;
    border: 1px outset rgba(0, 0, 0, 0.5)
}
td{
    padding: 15px;
    border: 1px inset rgba(0, 0, 0, 0.5);
}
.linkButtons{
  position: absolute;
  right: 50px;
  width: 500px;
  height: 50px;

  display: flex;
  flex-direction: row;
  
  justify-content:space-evenly;
  
}
button{
    margin-top: 10px;
    width: 100px;
    font-family: var(--primary-font);
    font-size: 16px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    color: chartreuse;
    height: 35px;
    background-color: rgba(46, 45, 45, 0.925);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8),
                2px 2px 3px rgba(0, 0, 0, 0.5),
               
                -1px -1px 2px rgba(201, 199, 199, 0.8);
                transition: 1s ease-in-out;
}

button:hover{

  font-family: var(--primary-font);
  font-size: 16px;
  border-radius: 20px;
  border: 1px outset rgba(34, 33, 33, 0.74);
  cursor: pointer;
  color: rgb(255, 0, 0);
  background-color: rgba(46, 45, 45, 0.925);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8),
  2px 2px 3px rgba(0, 0, 0, 0.5),
  4px 4px 8px rgba(0, 0, 0, 0.6),
  6px 6px 12px rgba(0, 0, 0, 0.4),
  -1px -1px 2px rgba(201, 199, 199, 0.8),
  -2px -2px 3px rgba(201, 199, 199, 0.8),
  -3px -3px 6px rgba(19, 18, 18, 0.8);
  transition: 1s ease-in-out;
}

button:focus{

  font-family: var(--primary-font);
  font-size: 16px;
  border-radius: 20px;
  border: 1px outset rgba(136, 0, 0, 0.74);
  cursor: pointer;
  color: rgb(255, 0, 0);
  background-color: rgba(46, 45, 45, 0.925);
  box-shadow: 
  inset 1px 1px 2px rgba(0, 0, 0, 0.8),
  inset 2px 2px 3px rgba(0, 0, 0, 0.5),
  inset 4px 4px 8px rgba(0, 0, 0, 0.6),
  inset 6px 6px 12px rgba(0, 0, 0, 0.4),
  inset -1px -1px 2px rgba(201, 199, 199, 0.8),
  inset -2px -2px 3px rgba(201, 199, 199, 0.8),
  inset -3px -3px 6px rgba(19, 18, 18, 0.8);
  transition: 1s ease-in-out;
}

.activeButton{
  font-family: var(--primary-font);
  font-size: 16px;
  border-radius: 20px;
  border: 1px outset rgba(136, 0, 0, 0.74);
  cursor: pointer;
  color: rgb(255, 0, 0);
  background-color: rgba(46, 45, 45, 0.925);
  box-shadow: 
  inset 1px 1px 2px rgba(0, 0, 0, 0.8),
  inset 2px 2px 3px rgba(0, 0, 0, 0.5),
  inset 4px 4px 8px rgba(0, 0, 0, 0.6),
  inset 6px 6px 12px rgba(0, 0, 0, 0.4),
  inset -1px -1px 2px rgba(201, 199, 199, 0.8),
  inset -2px -2px 3px rgba(201, 199, 199, 0.8),
  inset -3px -3px 6px rgba(19, 18, 18, 0.8);
}
/* -----------------------------------------------------------------------------------------------------CARDS */
.cardSection{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}



#cardImageOne{
  margin-left: 10%;
  width: 150px;
  height: 150px;
}

#go{
  height: 30px;
  width: 50px;
  margin-left: 40%;
}

/* --------------------------------------------------------------------------------------------------------Card 1 */
.cardBorderOne{
  cursor: pointer;
  border: 1px outset black;
  border-radius: 10px;
  height: fit-content;
  width: 200px;
  margin-left: 100px;
  background-color: black;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9),
          2px 2px 3px rgba(0, 0, 0, 0.7),
          4px 4px 12px rgba(0, 0, 0, 0.3);
          transition: 1s ease-in-out;
}
.cardBorderOne:hover{
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9),
  2px 2px 3px rgba(0, 0, 0, 0.7),
  3px 3px 6px rgba(0, 0, 0, 0.5),
  4px 4px 8px rgba(0, 0, 0, 0.7),
  6px 6px 12px rgba(0, 0, 0, 0.7);
}

.cardHeaderOne{
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  font-size: 12pt;
  text-align: center;
  color: silver;
  height: 50px;
  background-color: rgb(39, 37, 37);  
  border: 0px outset rgb(19, 18, 18);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9),
          2px 2px 3px rgba(0, 0, 0, 0.7),
          4px 4px 8px rgba(0, 0, 0, 0.3);
          z-index: 4;
      
}

.cardBodyOne{
  color: black;
  text-shadow: 1px 1px 2px,
               2px 2px 3px;
  height: 150px;
  background-color: rgb(97, 97, 97);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.9),
         inset 2px 2px 3px rgba(0, 0, 0, 0.7),
         inset 4px 4px 8px rgba(0, 0, 0, 0.3);
  transition: 1s ease-in-out;

}


.cardFooterOne{
  color: red;
  height: 50px;
  background-color: rgb(39, 37, 37);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9),
          2px 2px 3px rgba(0, 0, 0, 0.7),
          4px 4px 8px rgba(0, 0, 0, 0.3);
  
}


#cardImageOne{
  margin: 5px;
  width: 190px;
  height: 140px;
}

#cardUnoDesc{
   font-weight: bold;
  color: rgb(3, 3, 3);
  position: absolute;
  top:290px;
  width: 80px;
  height: 30px;
  font-size: 12pt;
  border: 1px dotted rgb(209, 4, 4);
  text-shadow: none;
 
  transition: 1s ease-in-out;
  overflow: hidden;
}

#cardUnoDesc:hover{
  font-size: 7pt;
  position: absolute;
  top:170px;
  width: 200px;
  height: 150px;
  font-size: 12pt;
  border: 1px solid red;
  color: rgb(255, 253, 251);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

#cardImageOne:hover{
  opacity: .01;
}
#descOne{
  
  font-size: 10pt;
}



/* ----------------------------------------------------------------------------------------------------Card 2 */
.cardBorderTwo{
  cursor: pointer;
 
  border: 1px outset black;
  border-radius: 10px;
  height: fit-content;
  width: 200px;
  margin-left: 100px;
  background-color: black;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9),
          2px 2px 3px rgba(0, 0, 0, 0.7),
          4px 4px 12px rgba(0, 0, 0, 0.3);
          transition: 1s ease-in-out;
}

.cardBorderTwo:hover{
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9),
  2px 2px 3px rgba(0, 0, 0, 0.7),
  3px 3px 6px rgba(0, 0, 0, 0.5),
  4px 4px 8px rgba(0, 0, 0, 0.7),
  6px 6px 12px rgba(0, 0, 0, 0.7);
}

.cardHeaderTwo{
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  font-size: 12pt;
  text-align: center;
  color: silver;
  height: 50px;
  background-color: rgb(39, 37, 37);  
  border: 0px outset rgb(19, 18, 18);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9),
          2px 2px 3px rgba(0, 0, 0, 0.7),
          4px 4px 8px rgba(0, 0, 0, 0.3);
          z-index: 4;
      
}
.cardBodyTwo{
  color: black;
  text-shadow: 1px 1px 2px,
               2px 2px 3px;
  height: 150px;
  background-color: rgb(97, 97, 97);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.9),
         inset 2px 2px 3px rgba(0, 0, 0, 0.7),
         inset 4px 4px 8px rgba(0, 0, 0, 0.3);
  transition: 1s ease-in-out;

}

.cardBodyTwo:hover{
  height: 150px;
  background-color: rgb(97, 97, 97);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9),
         2px 2px 3px rgba(0, 0, 0, 0.7),
         4px 4px 8px rgba(0, 0, 0, 0.3);
  transition: 1s ease-in-out;
}

.cardFooterTwo{
  color: red;
  height: 50px;
  background-color: rgb(39, 37, 37);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9),
          2px 2px 3px rgba(0, 0, 0, 0.7),
          4px 4px 8px rgba(0, 0, 0, 0.3);
}

#cardImageTwo{
  margin: 5px;
  width: 190px;
  height: 140px;
}


#cardDoceDesc{
   font-weight: bold;
  color: rgb(3, 3, 3);
  position: absolute;
  top:290px;
  width: 80px;
  height: 30px;
  font-size: 12pt;
  border: 1px dotted rgb(209, 4, 4);
  text-shadow: none;
 
  transition: 1s ease-in-out;
  overflow: hidden;
}

#cardDoceDesc:hover{
  font-size: 7pt;
  position: absolute;
  top:170px;
  width: 200px;
  height: 150px;
  font-size: 12pt;
  border: 1px solid red;
  color: rgb(255, 253, 251);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

#cardImageTwo:hover{
  opacity: .01;
}
#desc{
  
  font-size: 10pt;
}


/* ----------------------------------------------------------------------------------------------------Card 3 */
.cardBorderThree{
  cursor: pointer;
  border: 1px outset black;
  border-radius: 10px;
  height: fit-content;
  width: 200px;
  margin-left: 100px;
  background-color: black;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9),
          2px 2px 3px rgba(0, 0, 0, 0.7),
          4px 4px 12px rgba(0, 0, 0, 0.3);
          transition: 1s ease-in-out;
}

.cardHeaderThree{
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  font-size: 12pt;
  text-align: center;
  color: silver;
  height: 50px;
  background-color: rgb(39, 37, 37);  
  border: 0px outset rgb(19, 18, 18);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9),
          2px 2px 3px rgba(0, 0, 0, 0.7),
          4px 4px 8px rgba(0, 0, 0, 0.3);
          z-index: 4;
      
}

.cardBodyThree{
  color: black;
  text-shadow: 1px 1px 2px,
               2px 2px 3px;
  height: 150px;
  background-color: rgb(97, 97, 97);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.9),
         inset 2px 2px 3px rgba(0, 0, 0, 0.7),
         inset 4px 4px 8px rgba(0, 0, 0, 0.3);
  transition: 1s ease-in-out;

}


.cardFooterThree{
  color: red;
  height: 50px;
  background-color: rgb(39, 37, 37);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9),
          2px 2px 3px rgba(0, 0, 0, 0.7),
          4px 4px 8px rgba(0, 0, 0, 0.3);
}


#cardImageThree{
  margin: 5px;
  width: 190px;
  height: 140px;
}

#cardTraceDesc{
   font-weight: bold;
  color: rgb(3, 3, 3);
  position: absolute;
  top:290px;
  width: 80px;
  height: 30px;
  font-size: 12pt;
  border: 1px dotted rgb(209, 4, 4);
  text-shadow: none;
  transition: 1s ease-in-out;
  overflow: hidden;
}

#cardTraceDesc:hover{
  font-size: 7pt;
  position: absolute;
  top:170px;
  width: 200px;
  height: 150px;
  font-size: 12pt;
  border: 1px solid red;
  color: rgb(255, 253, 251);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}
#cardThreeDesc:hover{
  font-size: 7pt;
  position: absolute;
  top:170px;
  width: 200px;
  height: 150px;
  font-size: 12pt;
  border: 1px solid red;
  color: rgb(255, 253, 251);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}
#cardImageThree:hover{
  opacity: .01;
}

/* =============================================================================================================SMALLEST */
@media screen and (min-width: 100px )and (max-width:615px ){

  
  .linkButtons{
    position: fixed;
    top:70px;
    left:285px;
    width: 500px;
    height: 250px;
  
    display: flex;
    flex-direction: column;
    
    justify-content:space-evenly;
    
  }

  .cardSection{
    display: flex;
    flex-direction: column;
    height: 100%;
   
  }

  .inner-container{
    filter: drop-shadow(4px 10px 4px #00000080);
    position: relative;
    margin-left: 5px;
    margin-bottom: 45px;
    display: flex;
    flex-direction:column;
    border: 1px solid red;
    height: 1000px;
    width: 300px fit-content;
}

  .container{

    position: absolute;
    border: 1px solid rgb(15, 15, 15);
    display: flex;
    
    flex-direction: column;
    width: 300px fit-content;
    height:1200px;
    margin-left: 5px;
    margin-top: 20px;   
}

.cardBorderOne{  
  margin-left: 0px;
  margin-right: 0px;
 position: absolute;
 top: 170px;
 left: 60px;
}


  .cardBorderTwo{
    margin-left: 0px;
    margin-right: 0px;
    position: absolute;
    top: 440px;
    left: 60px;
  }
  
  .cardBorderThree{
    margin-left: 0px;
    margin-right: 0px;
    position: absolute;
    top: 710px;
    left: 60px;
  }

  #cardUnoDesc{
    font-weight: bold;
   color: rgb(3, 3, 3);
   position: absolute;
   top:170px;
   width: 80px;
   height: 30px;
   font-size: 12pt;
   border: 1px dotted rgb(209, 4, 4);
   text-shadow: none;
  
   transition: 1s ease-in-out;
   overflow: hidden;
 }
 
 #cardUnoDesc:hover{
   font-size: 7pt;
   position: absolute;
   top:50px;
   width: 200px;
   height: 150px;
   font-size: 12pt;
   border: 1px solid red;
   color: rgb(255, 253, 251);
   text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
 }  
      
  #cardDoceDesc{
        font-weight: bold;
       color: rgb(3, 3, 3);
       position: absolute;
       top:170px;
       width: 80px;
       height: 30px;
       font-size: 12pt;
       border: 1px dotted rgb(209, 4, 4);
       text-shadow: none;
      
       transition: 1s ease-in-out;
       overflow: hidden;
     }
     
  #cardDoceDesc:hover{
       font-size: 7pt;
       position: absolute;
       top:50px;
       width: 200px;
       height: 150px;
       font-size: 12pt;
       border: 1px solid red;
       color: rgb(255, 253, 251);
       text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
     }
      
  #cardTraceDesc{
      font-weight: bold;
     color: rgb(3, 3, 3);
     position: absolute;
     top:170px;
     width: 80px;
     height: 30px;
     font-size: 12pt;
     border: 1px dotted rgb(209, 4, 4);
     text-shadow: none;
     transition: 1s ease-in-out;
     overflow: hidden;
   }
  #cardTraceDesc:hover{
      font-size: 7pt;
      position: absolute;
      top:50px;
      width: 200px;
      height: 150px;
      font-size: 12pt;
      border: 1px solid red;
      color: rgb(255, 253, 251);
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
    }
   

} 


/* ---------------------------------------------------------------------------------------------------------- Max Width */
 @media screen and (min-width: 550px )and (max-width: 815px ) {

  .linkButtons{
    position: absolute;
    top:70px;
    right:10px;
    width: 500px;
    height: 250px;
  
    display: flex;
    flex-direction: row;
    
    justify-content:space-evenly;
    
  }

  .cardSection{
    display: flex;
    flex-direction: column;
    height: 100%;

  }

  .inner-container{
    filter: drop-shadow(4px 10px 4px #00000080);
    position: relative;
    margin-left: 5px;
    margin-bottom: 45px;
    display: flex;
    flex-direction:column;
    
    height: 150px;
    width: 300px fit-content;
}

  .container{

    position: absolute;
    border: 1px solid rgb(15, 15, 15);
    display: flex;
    
    flex-direction: column;
    width: 300px fit-content;
    height:1000px;
    margin-left: 15px;
    margin-top: 20px;   
}

.cardBorderOne{  
  margin-left: 0px;
  margin-right: 0px;
 position: absolute;
 top: 170px;
 left: 10px;
}


  .cardBorderTwo{
    margin-left: 0px;
    margin-right: 0px;
    position: absolute;
    top: 170px;
    left: 220px;
  }
  
  .cardBorderThree{
    margin-left: 0px;
    margin-right: 0px;
    position: absolute;
    top: 170px;
    left: 430px;
  }

  #cardUnoDesc{
    font-weight: bold;
   color: rgb(3, 3, 3);
   position: absolute;
   top:170px;
   width: 80px;
   height: 30px;
   font-size: 12pt;
   border: 1px dotted rgb(209, 4, 4);
   text-shadow: none;
  
   transition: 1s ease-in-out;
   overflow: hidden;
 }
 
 #cardUnoDesc:hover{
   font-size: 7pt;
   position: absolute;
   top:50px;
   width: 200px;
   height: 150px;
   font-size: 12pt;
   border: 1px solid red;
   color: rgb(255, 253, 251);
   text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
 }  
      
  #cardDoceDesc{
        font-weight: bold;
       color: rgb(3, 3, 3);
       position: absolute;
       top:170px;
       width: 80px;
       height: 30px;
       font-size: 12pt;
       border: 1px dotted rgb(209, 4, 4);
       text-shadow: none;
      
       transition: 1s ease-in-out;
       overflow: hidden;
     }
     
  #cardDoceDesc:hover{
       font-size: 7pt;
       position: absolute;
       top:50px;
       width: 200px;
       height: 150px;
       font-size: 12pt;
       border: 1px solid red;
       color: rgb(255, 253, 251);
       text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
     }
      
  #cardTraceDesc{
      font-weight: bold;
     color: rgb(3, 3, 3);
     position: absolute;
     top:170px;
     width: 80px;
     height: 30px;
     font-size: 12pt;
     border: 1px dotted rgb(209, 4, 4);
     text-shadow: none;
     transition: 1s ease-in-out;
     overflow: hidden;
   }
  #cardTraceDesc:hover{
      font-size: 7pt;
      position: absolute;
      top:50px;
      width: 200px;
      height: 150px;
      font-size: 12pt;
      border: 1px solid red;
      color: rgb(255, 253, 251);
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
    }
   

} 
  /* @media screen and (min-width: 1186px ) {

    .spacer{
      display: flex;
      flex-direction: row;
      width: 300px;
      border: 1px solid red;
    }

    .cardSection{
      display: flex;
      flex-direction: column;
      height: 100%;
      border: 1px solid red;
    }

    .inner-container{
      filter: drop-shadow(4px 10px 4px #00000080);
      position: relative;
      margin-left: 5px;
      margin-bottom: 45px;
      display: flex;
      flex-direction:column;
      border: 1px solid red;
      height: 150px;
      width: 300px fit-content;
  }

    .container{

      position: absolute;
      border: 1px solid rgb(15, 15, 15);
      display: flex;
      
      flex-direction: column;
      width: 300px fit-content;
      height:1000px;
      margin-left: 15px;
      margin-top: 20px;   
  }

  .cardBorderOne{  
    margin-left: 0px;
    margin-right: 0px;
  position: absolute;
  top: 170px;
  left: 10px;
  }


    .cardBorderTwo{
      margin-left: 0px;
      margin-right: 0px;
      position: absolute;
      top: 170px;
      left: 220px;
    }
    
    .cardBorderThree{
      margin-left: 0px;
      margin-right: 0px;
      position: absolute;
      top: 170px;
      left: 430px;
    }

    #cardUnoDesc{
      font-weight: bold;
    color: rgb(3, 3, 3);
    position: absolute;
    top:170px;
    width: 80px;
    height: 30px;
    font-size: 12pt;
    border: 1px dotted rgb(209, 4, 4);
    text-shadow: none;
    
    transition: 1s ease-in-out;
    overflow: hidden;
  }
  
  #cardUnoDesc:hover{
    font-size: 7pt;
    position: absolute;
    top:50px;
    width: 200px;
    height: 150px;
    font-size: 12pt;
    border: 1px solid red;
    color: rgb(255, 253, 251);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  }  
        
    #cardDoceDesc{
          font-weight: bold;
        color: rgb(3, 3, 3);
        position: absolute;
        top:170px;
        width: 80px;
        height: 30px;
        font-size: 12pt;
        border: 1px dotted rgb(209, 4, 4);
        text-shadow: none;
        
        transition: 1s ease-in-out;
        overflow: hidden;
      }
      
    #cardDoceDesc:hover{
        font-size: 7pt;
        position: absolute;
        top:50px;
        width: 200px;
        height: 150px;
        font-size: 12pt;
        border: 1px solid red;
        color: rgb(255, 253, 251);
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
      }
        
    #cardTraceDesc{
        font-weight: bold;
      color: rgb(3, 3, 3);
      position: absolute;
      top:170px;
      width: 80px;
      height: 30px;
      font-size: 12pt;
      border: 1px dotted rgb(209, 4, 4);
      text-shadow: none;
      transition: 1s ease-in-out;
      overflow: hidden;
    }
    #cardTraceDesc:hover{
        font-size: 7pt;
        position: absolute;
        top:50px;
        width: 200px;
        height: 150px;
        font-size: 12pt;
        border: 1px solid red;
        color: rgb(255, 253, 251);
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
      }
    

  } 
  */

/* @media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3){

    .cardSection{
        width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      border: 1px solid red;
    }   
    .navigation-list{
      display: flex;
      flex-direction: column;
    }
    .container{
      display: flex;
      flex-direction: column;
      width: 175px auto;
      text-align: center;
      height:100vh;
      margin-left: 5px;
      margin-top: 20px;
    }
    .ul-links{
      position: absolute;
      top:60px;
      display: flex;
      flex-direction: row;
      width: 170px;
     }
     li{
       margin: 5px;
       padding: 8px;
     }
    .inner-container{
    filter: drop-shadow(4px 10px 4px #00000080);
      position: relative;
      margin-left: 5px;
      margin-bottom: 45px;
      display: flex;
      flex-direction: column;
    }
    .profile-desc{
      width: 160px;
    }
    .name{
      position: relative;
      margin-left: 100px;
      text-shadow: 1px 1px 2px rgb(0, 0, 0),
      2px 2px 3px rgb(0, 0, 0);
      font-size: 18pt;
     padding-right: 5%
    }
    .contact-form{
      width: fit-content;
    }
    .myExp{
      width: fit-content;
    }

    .cardBorder{
     
      margin-left:5px;
    }
    #descOne{
      position:fixed;
      left: 10px;
      top: 10px;
      font-size: 10pt;
    }
    .cardBorderTwo{
   
    margin-left: 5px;
  }
    #descTwo{
      position:inherit;
      font-size: 10pt;
    }
    .cardBorderThree{
     
      margin-left: 5px;
    }
    #cardThreeDesc{
      position: inherit;
      font-weight: bold;
     color: rgb(3, 3, 3);
   
     top:0px;
     width: 80px;
     height: 30px;
     font-size: 12pt;
     border: 1px dotted rgb(209, 4, 4);
     text-shadow: none;
    
     transition: 1s ease-in-out;
     overflow: hidden;
   }

  } 


  
@keyframes fromRight {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(100%);
  }
}  */